// Colors
$color-text: #202020;

// Fonts
$font-primary: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
$font-primary-size: 17px;
$font-primary-line-height: 22px;
