@import '../../assets/scss/partials/imports';

.fetch-error {
  font-size: 17px;
  line-height: 22px;

  @media screen and (min-width: $breakpoint-lg) {
    margin-top: 20px;
  }

  .text-row{
    &:not(:first-of-type) {
      margin-top: 15px;

      @media screen and (min-width: $breakpoint-lg) {
        margin-top: 20px;
      }
    }
  }
}
