@import '../../assets/scss/partials/imports';

.fetch-error {
  margin-top: 25px;
  @include font-primary;
  text-align: center;

  .text-row {
    &:not(:first-of-type) {
      margin-top: 10px;
    }
  }
}
